[submodule "snippets/17_10_22/cameratest/camera"]
	path = snippets/17_10_22/cameratest/camera
	url = git@github.com:yielduck/camera.git
[submodule "snippets/task3/camera"]
	path = snippets/task3/camera
	url = https://github.com/yielduck/camera.git
